@model SearchViewModel

@{
    Layout = null;
}

<div class="results mt-3">

    @if (Model.Results.Any())
    {
        <h2>Results</h2>

        <ul>
            @foreach (var result in Model.Results)
            {
                <li>@result</li>
            }
        </ul>
    }

</div>